PROJECT_LABEL=my-project

STAGE=development
COMPOSE_PROFILES=$STAGE

POSTGRES_VERSION=17
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=REPLACE_WITH_A_SECURE_SUPERUSER_PASSWORD

USER_ID_TYPE=UUID

POSTGRAPHILE_USER=pgl
POSTGRAPHILE_PASSWORD=REPLACE_WITH_A_SECURE_PASSWORD
JWT_SECRET=REPLACE_WITH_A_SECURE_SECRET
JWT_TTL=24*60*60

EXPOSED_SCHEMA=public
AUTH_SCHEMA=auth

ADMIN_USER=admin
ADMIN_PASSWORD=REPLACE_WITH_A_SECURE_PASSWORD
